################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/.vscode
__pycache__/
/.venv/
/n8n/.env
.env
BusinessAnalyst/venv/
Programmer/venv/
Programmer/.vscode/
CodeRunner/venv/
CodeRunner/.vscode/
