version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_PORT=5678
      - N8N_HOST=0.0.0.0
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=123456
      - N8N_EDITOR_BASE_URL=http://localhost:5678/
      - N8N_LOG_LEVEL=info
      - N8N_DATA_FOLDER=/data
    volumes:
      - impactra_data:/data
    restart: unless-stopped

volumes:
  impactra_data:
